
/**Declaring CSS Variables **/
:root {
    --primary-color : rgb(88, 225, 230);
}


body {
    color : rgb(36, 53, 65);
}

.para { 
    color :rgb(22, 102, 49)
}

#second-header {
    color :rgb(102, 109, 4)
}

.container {
    padding-left : 1rem;
    padding-right : 1rem;
}

.container-fluid {

}

.container-center { 
    max-width : 600px;
    margin : auto;
}

.link{
    text-decoration : none;
    padding-left : 0.5rem;
    padding-right : 1rem;

}

.link-primary {
    background-color : var(--primary-color);
    border-radius : 0.5rem;
    color :rgb(59, 32, 37);
}

.link-secomdary{
    color : var(--primary-color);
    border-radius : 0.5rem;
    border : 1px solid var(--primary-color);
}